<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">List of all check</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>ID check </th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Bank receiver</th>
                  <th>Bank owner</th>
                  <th>Account owner</th>
                  <th>State</th>
                </thead>
                <tbody>
                  <tr *ngFor="let check of posts  ">
                    <td>{{check.Idcheck}}</td>
                    <td>{{check.amount}}</td>
                    <td>{{check.date | date }}</td>
                    <td> {{check.receiver}}</td>
                    <td>{{check.owner}}</td>
                    <td>{{check.compte_owner}}</td>
                    <td>{{check.state}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>