<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://redlean.io">
                        About redlean
                    </a>
                </li>
                <li>
                    <a href="http://labs.redlean.io/">
                        Redlean Labs
                    </a>
                </li>
                <li>
                    <a href="http://c-chain.redlean.io">
                        About C-Chain
                    </a>
                </li>
                <li>
                    <a href="http://redlean.io/contact-us/">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
           2018, All Rights Reserved by 
            <a href="https://www.redlean.io" target="_blank">Redlean Services.</a>
        </div>
    </div>
</footer>
