<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">List of all contract</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>Recipient account </th>
                                    <th>Owner account</th>
                                    <th>Bank owner</th>
                                    <th>Check</th>
                                    <th>State</th>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let contract of posts">
                                        <td>{{contract.compte_newowner}}</td>
                                        <td>{{contract.compte_owner}}</td>
                                        <td>{{contract.owner}}</td>
                                        <td>{{contract.check}}</td>
                                        <td>{{contract.validation}}</td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
