<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0">list of account</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                <th>Id account</th>
                                <th>Solde</th>
                                <th>Currency</th>
                                <th>Creation date</th>
                                <th>Client firt name</th>
                                <th>Client last name</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let compte of allComptes | async">
                                    <td>{{compte.Idcompte}}</td>
                                    <td>{{compte.solde}}</td>
                                    <td>{{compte.currency}}</td>
                                    <td>{{compte.date_creation}}</td>
                                    <td>{{compte.client.first_name}}</td>
                                    <td>{{compte.client.last_name}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>